.card-container {
  display: inline-grid;
  padding: 10vh;
  background-color: rgb(218, 218, 218);
  margin-top: 2vh;
}

.cards {
  max-width: 125vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.card-img-container img {
  width: 30vh;
  border-radius: 7px;
  border: 3px solid rgb(85, 85, 85);
  box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transform-style: preserve-3d;
}

.card-img-container img:hover {
  box-shadow: 20px 20px 53px -8px rgba(0, 0, 0, 0.75);
  background-color: lightgreen;
}

.imageClick {
  box-shadow: 20px 20px 53px -8px rgba(0, 0, 0, 0.75);
  background-color: lightgreen;
}
